@media all and (max-width: 670px) {

    .header-list {
        display: none;
    }

    .copy-container h1 {
        font-size: 28px;
    }

    .copy-container h2 {
        margin-top: 15px;
        font-size: 11px;
    }

    .lesson {
        width: 100%;
        margin: 0 auto;
    }

    .lesson p {
        margin-bottom: 50px;
        display: block;
    }

    .cotact-wrapper {
        padding-top: 50px;
    }

    .main {
        padding: 100px 80px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    input, textarea {
        width: 100%;
    }

    .menu-icon {
        display: block;
    }






}
